.form-control {
      background: #fff !important;
      color: #000 !important;
      border: 1px solid #eaeaea;
      width: 100%;
    }

    input.form-control::placeholder {
     color: #444 !important; 
    }

    .box {
      width: 70%;
      height: 100vh;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
    }

    .box .card {
      display: none;
    }

    .box-2 {
      width: 30%;
      height: 100vh;
    }

    .box-2 .d-flex {
      height: 100vh;
    }

    @media (max-width: 767px) {

      .box {
        width: 55%;
      }
      .box-2 {
        width: 45%;
      }

    }

    @media (max-width: 576px) {

      .box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center !important;
      }

      .box .card {
          display: block;
          margin: 0 auto;
      }

      .cont {
        position: relative;
      }

      .mobile-hidden {
        display: none;
      }

      .box-2 {
        display: none;
      }

    }